- customize_hotkeys = escape_javascript(render partial: hotkeys_partial('index'))
:javascript
  $('.modal-backdrop').remove();
  $('.customize').click(function() {
    $('.app').after("#{customize_hotkeys}");
    $("##{PlayerActionsHelper::CUSTOMIZE_HOTKEYS_ID}").on('hidden', function() {
      $("##{PlayerActionsHelper::CUSTOMIZE_HOTKEYS_ID}").remove();
    });
  });
%li.dropdown
  %a.dropdown-toggle{role: 'button', :href => "#", :data => {:toggle => "dropdown"}}= 'Hotkeys <b class="caret"></b>'.html_safe
  = render partial: hotkeys_partial('table'), locals: { classes: ['dropdown-menu'], right_column: ->(label, key) { key }, footer_partial: hotkeys_partial('dropdown_footer') }
%li
  = link_to PlayerActionsHelper::LEAVE_MATCH_LABEL, leave_match_url, {remote: true, class: PlayerActionsHelper::NAV_LEAVE_HTML_CLASS, data: { confirm:  PlayerActionsHelper::LEAVE_MATCH_CONFIRMATION_MESSAGE, disable_with: PlayerActionsHelper::LEAVE_MATCH_LABEL }}