.action_dashboard{ class: match_view.betting_type_label }
  - if match_view.match_ended?
    .meta_action
      = button_tag leave_match_label, disabled: waiting_for_response, data: { disable_with: leave_match_label }, class: leave_match_button_html_class
  - elsif next_hand_button_visible?
    .meta_action
      - next_hand_label = "Next Hand"
      %button{ class: next_hand_id, disabled: waiting_for_response, data: { disable_with: next_hand_label } }= next_hand_label
  - else
    .action_modification_tools
      - if match_view.match.fcpa?
        .wager_amount-slider
          .slider_labels
            .slider_label.min Pot
            .slider_label.half_pot
            .slider_label.three_quarters_pot
            .slider_label.one_pot
            .slider_label.two_pot
            .slider_label.all_in All-in
          .slider
            .ui_slider
        .wager_amount-num_field= number_field_tag :modifier, match_view.pot_fraction_wager_to.to_i, min: [match_view.pot_fraction_wager_to.to_i, match_view.all_in.to_i].min, max: match_view.all_in.to_i, step: match_view.all_in.to_i - [match_view.pot_fraction_wager_to.to_i, match_view.all_in.to_i].min, disabled: wager_disabled_when
      - elsif match_view.no_limit?
        .wager_amount-slider
          .slider_labels
            .slider_label.min Min
            .slider_label.half_pot 0.5
            .slider_label.three_quarters_pot 0.75
            .slider_label.one_pot Pot
            .slider_label.two_pot 2xPot
            .slider_label.all_in All-in
          .slider
            .ui_slider
        .wager_amount-num_field= number_field_tag :modifier, match_view.minimum_wager_to.to_i, min: match_view.minimum_wager_to.to_i, max: match_view.all_in.to_i, step: match_view.match.game_def.min_wagers[match_view.state.round].to_i, disabled: wager_disabled_when
    .actions
      .poker_actn_btn
        - fold_label = 'Fold'
        - fold_attributes = { class: fold_html_class, type: 'submit', data: { disable_with: fold_label }}
        - fold_attributes[:disabled] = 'disabled' if fold_disabled_when
        %button{fold_attributes}= fold_label
      .poker_actn_btn
        - pass_attributes = { class: pass_html_class, type: 'submit', data: { disable_with: pass_action_button_label }}
        - pass_attributes[:disabled] = 'disabled' unless user_must_act?
        %button{pass_attributes}= pass_action_button_label
      .poker_actn_btn
        - wager_attributes = { class: wager_html_class, type: 'submit', data: { disable_with: make_wager_button_label }}
        - wager_attributes[:disabled] = 'disabled' if wager_disabled_when
        %button{wager_attributes}= make_wager_button_label