.chip_stack
   .inner_ring
   .amount= amount.to_s
   .heart_symbol= html_character(:hearts).html_safe
   .spade_symbol= html_character(:spades).html_safe
   .diamond_symbol= html_character(:diamonds).html_safe
   .club_symbol= html_character(:clubs).html_safe

