.chip_balances
  %h5.match_name= "#{match_view.match.name} <span class=\"right\">#{match_view.state.hand_number+1} / #{match_view.match.number_of_hands}</span>".html_safe
  %table.table.table-striped
    %thead
      %tr
        %th Player
        %th Balance
    %tbody
      - match_view.players.each do |player|
        %tr
          %td= "#{player['name']}"
          %td= "#{player['chip_balance'].to_f}"