- customize_hotkeys_dialog_label = 'Customize Hotkeys'
.modal.hide.fade( tabindex='-1' role="dialog" aria-labelledby=customize_hotkeys_dialog_label aria-hidden="true" id=customize_hotkeys_html_id class=customize_hotkeys_html_id)
  = form_tag update_hotkeys_url, remote: true, class: 'modal-form' do
    = hidden_field_tag :match_id, match.id
    .modal-header
      %button( type="button" class="close" data-dismiss="modal" aria-hidden="true" ) &times;
      %h3= customize_hotkeys_dialog_label
    .modal-body
    = render partial: 'hotkey_table', locals: { right_column: ->(label, key) { hotkey_field_tag(label, key) }, custom_hotkeys_partial: 'add_custom_wagers' }
    .modal-footer
      = link_to 'Cancel', '#', { class: 'btn cancel', data: { dismiss: "modal" } }
      = submit_tag 'Save', { class: 'btn btn-primary save-hotkeys' }
  .modal-footer
    = form_tag reset_hotkeys_url, remote: true do
      = hidden_field_tag :match_id, match.id
      = submit_tag 'Reset to Default', { class: 'btn btn-info reset_hotkeys', data: { confirm: 'Are you sure you want to reset all your hotkeys to their default values?' } }