- if @match_view.no_limit?
  = render partial: 'no_limit_wager_tools'
= render partial: 'helpers'
= render partial: 'update_after_action'
= render partial: 'wire_actions'
= render partial: 'adjust_sizes'
= render partial: 'initial_focus'

:javascript
  var timerId;
  if (timerId) {
    clearInterval(timerId);
  }
- unless user_must_act?
  :javascript
    timerId = setInterval(updateState, 1500);
.hidden
  = form_tag update_url, :remote => true do
    = hidden_field_tag :match_id, @match_view.match.id
    = submit_tag nil, class: update_id
  = form_tag update_state_url, :remote => true do
    = hidden_field_tag :match_id, @match_view.match.id
    = submit_tag nil, class: update_state_html_class
= render partial: 'layouts/navbar', locals: {partial: 'navbar'}
= render partial: 'chip_balances'
= render partial: 'game_interface'