- if @match_view.no_limit?
  = render partial: 'no_limit_wager_tools'
= render partial: 'helpers'
= render partial: 'update_after_action'
= render partial: 'wire_actions'
= render partial: 'adjust_sizes'
= render partial: 'initial_focus'

- unless user_must_act?
  :javascript
    updateState();
.hidden
  = form_tag update_url, :remote => true do
    = hidden_field_tag :match_id, @match_view.match.id
    = submit_tag nil, class: update_id
= render partial: 'layouts/navbar', locals: {partial: 'navbar'}
= render partial: 'chip_balances'
= render partial: 'game_interface'

- Match.delete_match!(@match_view.match.id) if @match_view.slice.match_ended?