
- unless @hand_ended || @match_ended || @users_turn_to_act
   :javascript
      setTimeout("update_game_state()", 100);
      // @todo Move this out of the view into a javascript helper file?
      function update_game_state() {
         $('.update_match_state_button').submit();
      };

.information_container
   %ul#match_information
      %li.title= "Match: #{@match.match_name}"
      %ul#game_definition
         %li.title= "Game Definition: #{@match.game_definition_file_name}"
         // @todo %li= "<Game def prop>: <game def val>"
      %li= "This match has #{@match.number_of_hands} hands"
      // @todo %li= "Now playing hand <hand #>/#{@match.number_of_hands}"
      // @todo %li= "Log file: #{RAILS_ROOT + '/' + 'log' + @match.match_name}"
      %ul#chip_balances
         %li.title Chip balances:
         - @chip_balances.each do |player_name, balance|
            %li= "#{player_name}: #{balance}"
      // @todo The submit button is actually displayed so this function may not have the best name
      %li.meta_action
         = hidden_update_state_form @match_id, @match_slice_index, !(@users_turn_to_act || @match_ended)
      %li.meta_action
         %p= button_to "Leave this game", leave_game_url, :class => 'leave', :id => 'leave', :remote => true, :confirm =>  "Are you sure you want to leave this game?", disabled: !@match_ended

.information_container
   %ul#information_about_opponents
      - @opponents.each do |opponent|
         %li#information_about_an_opponent
            = render partial: 'player', locals: {player: opponent}
         
.information_container
   %ul#community_information
      %ul.cards
         - @board_cards.each do |card|
            %li.card= image_tag "#{card.image_path}", size: '200x300'
      %li#pot= "Pot size: #{@pot_size}"
      %li#round= "Round number: #{@round + 1}"
      
      %li#state= "Match state: #{@match_state}"
      
      - if @match_ended
         %li "Pot Distribution: #{@pot_distribution}".
         %li The match has ended, thanks for playing!
      - elsif @hand_ended
         %li "Pot Distribution: #{@pot_distribution}".

.information_container
   #users_information
      = render partial: 'player', locals: {player: @user}

.information_container
   #action_dashboard
      %h2 Actions
      .action
         %p= button "Call", call_url, 'call', match_id: @match_id, match_slice_index: @match_slice_index, disabled: !@users_turn_to_act
      .action
         %p= button "Fold", fold_url, 'fold', match_id: @match_id, match_slice_index: @match_slice_index, disabled: !@users_turn_to_act
      .action
         %p= button "Raise", raise_url, 'raise', amount_field: false, match_id: @match_id, match_slice_index: @match_slice_index, disabled: !@users_turn_to_act
