
%li.title= "#{player['name']}"
%li.stack= if player['amount_in_pot'] then "#{player['chip_stack']} : #{player['amount_in_pot']}" else "#{player['chip_stack']}" end
%li.actions_taken_in_current_round= "Actions taken in the current round: #{player['actions_taken_in_current_round']}"
%ul.match_buttons
   - if player_with_the_dealer_button == player['name']
      %li.match_button= image_tag "DealerButton.svg"
   - if player_who_submitted_small_blind == player['name']
      %li.match_button= image_tag "SmallBlind.svg"
   - if player_who_submitted_big_blind == player['name']
      %li.match_button= image_tag "BigBlind.svg"
%ul.hole_cards
   - player['hole_cards'].each do |card|
      %li= image_tag "#{card.image_path}", class: 'card'
