:javascript
  function nextHand() {
    return $(".#{update_id}").submit();
  };
  function submitAction(action) {
    return Realtime.playAction(action);
  };
  $(".#{fold_html_class}").click(function() {
    return submitAction("#{AcpcPokerTypes::PokerAction::FOLD}");
  });
  $(".#{pass_html_class}").click(function() {
    return submitAction("#{AcpcPokerTypes::PokerAction::CALL}");
  });
  $(".#{wager_html_class}").click(function() {
    var wagerAmount = wagerAmountField().val();
    var action = "#{AcpcPokerTypes::PokerAction::RAISE}"
    if (!isBlank(wagerAmount)) {
      action += wagerAmount;
    }
    return submitAction(action);
  });
  $(".#{next_hand_id}").click(function() { return nextHand(); });
- user.hotkeys.each do |hotkey|
  - label = hotkey.action
  - key = hotkey.key
  - if Hotkey::HOTKEY_LABELS_TO_ELEMENTS_TO_CLICK[label]
    :javascript
      Hotkey.bind("#{Hotkey::HOTKEY_LABELS_TO_ELEMENTS_TO_CLICK[label]}", "#{key}");
  - else
    - wager_amount = if label == Hotkey::MIN_WAGER_LABEL
      - match_view.minimum_wager_to
    - elsif label == Hotkey::ALL_IN_WAGER_LABEL
      - match_view.all_in
    - else
      - match_view.pot_fraction_wager_to(hotkey.hotkey_pot_fraction)
    :javascript
      Hotkey.bindWager("#{label}", "#{wager_amount}", "#{key}");
:javascript
  // Must be done after initializing the websocket message sending click handlers
  ActionDashboard.disableButtonsOnClick();