.chip_balances
  .panel-heading
    .match_name= "#{match_view.match.name} <span class=\"right\">#{match_view.state.hand_number+1} / #{match_view.match.number_of_hands}</span>".html_safe
  %table.table.table-striped
    %thead
      %tr
        %th Player
        %th Balance
    %tbody
      - match_view.players.each do |player|
        %tr
          %td= "#{player['name']}"
          %td= "#{player['chip_balance'].to_f}"
.row
  - if action_timeout_enabled? && !match_view.match_ended?
    .timeout
      .panel-heading
        %h1.time-remaining= PlayerActionsHelper::ACTION_TIMEOUT
.row
  %ul.summary_information#summary_information.list-group
    - if match_view.messages_to_display
      - match_view.messages_to_display.each do |m|
        -if m
          %li.list-group-item= m.gsub(/^\s*(\w)(\w*)(\s*)/) { if match.player_names.include?($1 + $2) then $1 else $1.upcase end + $2 + $3 }
    - if match_view.match_ended?
      %li.list-group-item The match has ended, thanks for playing!