:javascript
  Timer.clear();
  function afterEachSecond() {
    timeRemaining = parseInt($('.time-remaining').text());
    if (timeRemaining <= 0) {
      alert('The match has timed out.');
      rt.leaveMatch();
    }
    else {
      $('.time-remaining').text(timeRemaining - 1);
      Timer.start(afterEachSecond);
    }
  };
  Timer.start(afterEachSecond);
  Chat.init(
    '#chat-box',
    "#{user.name}",
    function(id, user, msg) {
      Realtime.connection.emitChatMessage(user, msg);
  });

.chip_balances
  .panel-heading
    .match_name= "#{match_view.match.name} <span class=\"right\">#{match_view.state.hand_number+1} / #{match_view.match.number_of_hands}</span>".html_safe
  %table.table.table-striped
    %thead
      %tr
        %th Player
        %th Balance
    %tbody
      - match_view.players.each do |player|
        %tr
          %td= "#{player['name']}"
          %td= "#{player['chip_balance'].to_f}"
.timeout
  .panel-heading
    %h1.time-remaining= PlayerActionsHelper::ACTION_TIMEOUT
- if ApplicationHelper::ENABLE_CHAT
  #chat-box
