.action_dashboard{ class: match_view.betting_type_label }
  - if match_view.match_ended?
    .meta_action
      = button_tag PlayerActionsHelper::LEAVE_MATCH_LABEL, data: { disable_with: PlayerActionsHelper::LEAVE_MATCH_LABEL }, class: PlayerActionsHelper::LEAVE_MATCH_BUTTON_HTML_CLASS
  - elsif next_hand_button_visible?
    .meta_action
      - next_hand_attributes = { class: PlayerActionsHelper::NEXT_HAND_ID, data: { disable_with: PlayerActionsHelper::NEXT_HAND_LABEL } }
      - next_hand_attributes[:disabled] = 'disabled' if spectating?
      %button{next_hand_attributes}= PlayerActionsHelper::NEXT_HAND_LABEL
  - else
    .action_modification_tools
      - if match_view.no_limit?
        .wager_amount-slider
          .slider_labels
            .slider_label.min Min
            .slider_label.half_pot 0.5
            .slider_label.three_quarters_pot 0.75
            .slider_label.one_pot Pot
            .slider_label.two_pot 2xPot
            .slider_label.all_in All-in
          .slider
            .ui_slider
        .wager_amount-num_field= number_field_tag :modifier, match_view.minimum_wager_to.to_i, min: match_view.minimum_wager_to.to_i, max: match_view.all_in.to_i, step: match_view.match.game_def.min_wagers[match_view.state.round].to_i, disabled: wager_disabled?
    .actions
      .poker_actn_btn.fold-action
        - fold_label = 'Fold'
        - fold_attributes = { class: PlayerActionsHelper::FOLD_HTML_CLASS, type: 'submit', data: { disable_with: fold_label }}
        - fold_attributes[:disabled] = 'disabled' if fold_disabled?
        %button{fold_attributes}= fold_label
      .poker_actn_btn.pass-action
        - pass_attributes = { class: PlayerActionsHelper::PASS_HTML_CLASS, type: 'submit', data: { disable_with: pass_action_button_label }}
        - pass_attributes[:disabled] = 'disabled' if !user_must_act? || spectating?
        %button{pass_attributes}= pass_action_button_label
      .poker_actn_btn.wager-action
        - wager_attributes = { class: PlayerActionsHelper::WAGER_HTML_CLASS, type: 'submit', data: { disable_with: make_wager_button_label }}
        - wager_attributes[:disabled] = 'disabled' if wager_disabled?
        %button{wager_attributes}= make_wager_button_label