- game_defs_collection = ApplicationDefs::GAME_DEFINITIONS.inject({}) do |hash, game_def_key_to_properties|
  - (game_def_key, properties) = game_def_key_to_properties
  - hash[{game_def_key => properties[:text]}] = properties[:bots]
  - hash
- bots_collection = game_defs_collection.map { |game_def, bots| [game_def.map { |key, value| value }.first, bots]}

#new_match_form
  = simple_form_for @match, url: create_new_match_url, remote: true, validate: true do |f|
    = f.input :match_name, hint: "Matches can be rejoined with this name for #{((ApplicationHelper::DEALER_MILLISECOND_TIMEOUT * (10**(-3)))/3600).to_i} hours after the last action was taken."
    = f.input :game_definition_key, label: 'Game definition ', collection: game_defs_collection.map { |key, value| key.first }, value_method: :first, label_method: :last, include_blank: false
    = f.label 'Opponent', for: :match_bot, required: true, as: :select
    = f.grouped_collection_select :bot, bots_collection, :last, :first, :last, :first, include_blank: false
    = f.input :number_of_hands, as: :integer
    = f.input :seat, collection: {'Random' => nil, '1' => 1, '2' => 2}, value_method: :last, label_method: :first, include_blank: false
    = f.input :random_seed, as: :integer, hint: 'Leave blank to use a random seed'
    - start_match_label = "Start match"
    = submit_tag start_match_label, class: 'button', data: { disable_with: start_match_label }
  .hidden= hidden_game_parameter_form

:coffeescript
  BotSelection.makeDynamicAccordingToGameDef()
  BotSelection.selectDefaultGameDef()