:javascript
  $('.modal-backdrop').remove();
= render partial: 'layouts/navbar', locals: { partial: nil }
.match_start
  %ul.match_start_tabs.nav.nav-tabs
    %li= link_to('New match', '#new_match_form', data: { toggle: 'tab' })
    %li= link_to('Join match', '#join_match_form', data: { toggle: 'tab' })
    %li= link_to('Rejoin match', '#rejoin_match_form', data: { toggle: 'tab' })
  .match_start_tabs-content.tab-content
    = render(partial: 'match_start/new_match_form')
    = render(partial: 'match_start/join_match_form')
    = render(partial: 'match_start/rejoin_match_form')
= render partial: ApplicationHelper::FOOTER
:javascript
  $('.match_start_tabs a:first').tab('show')