#join_match_form
  = form_tag join_match_url, remote: true, class: 'form-horizontal' do
    - matches_to_join = Match.all.select { |m| m.opponent_names && m.opponent_names.include?(ApplicationDefs::HUMAN_OPPONENT_NAME) && m.slices.empty? && !m.name_from_user.match(/^_+$/) }
    - match_names = matches_to_join.map { |m| m.name_from_user }
    .control-group
      .control-labels
        %label.control-label.required= label_for_required 'Match name'
      .controls
        = select_tag :match_name, options_for_select(match_names), required: true, disabled: matches_to_join.empty?
    .control-group
      .control-labels
        %label.control-label.required= label_for_required 'Seat'
      .controls
        - human_seat_options = matches_to_join.inject({}) do |hash, match|
          / Removed seats already taken by players who have already joined this match
          - hash[match.name_from_user] = match.human_opponent_seats.map { |s| s } - Match.where(name: match.name).map { |m| m.seat }
          - hash
        = select_tag :seat, grouped_options_for_select(human_seat_options)
    .form-actions
      - join_match_label = 'Join match'
      - options = { class: 'btn btn-primary', id: 'join_match' }
      / Needed to work properly in Firefox 21
      - options.merge(disabled: matches_to_join.empty?, data: { disable_with: join_match_label }) if matches_to_join.empty?
      = submit_tag join_match_label, options
:javascript
  DynamicSelector.makeDynamic('#match_name', '#seat')
  DynamicSelector.selectDefault('#match_name')