#rejoin_match_form
  = form_tag rejoin_match_url, remote: true do
    %label.required= '<abbr title="required">*</abbr> Match name'.html_safe
    = text_field_tag 'match_name', '', required: true
    - rejoin_match_label = 'Rejoin match'
    = submit_tag rejoin_match_label, class: 'button', data: { disable_with: rejoin_match_label }, id: 'rejoin_match'
  .hidden= hidden_game_parameter_form
