:javascript
  function startMatch() {
    return $("##{hidden_begin_match}").submit();
  };
  ws.onmessage = function(e) {
    var replyMsg = $.parseJSON(e.data);
    switch (replyMsg.reply) {
    case "#{ApplicationDefs::START_PROXY_REQUEST_CODE}":
      if (replyMsg.match_id === "#{@match.id}") {
        console.log("Starting match " + replyMsg.match_id);
        startMatch();
      }
      break;
    default:
      console.log('Unidentified reply: ' + replyMsg.reply);
      break;
    };
  };
- unless @match.slices.empty?
  :javascript
    startMatch();
- if @request_to_start_match_or_proxy
  :javascript
    var request_to_start_match_or_proxy = "#{escape_javascript(@request_to_start_match_or_proxy.to_json)}";
    if (!isBlank(request_to_start_match_or_proxy)) {
      sendAndLog(ws, request_to_start_match_or_proxy);
    }

= render partial: "layouts/navbar", locals: { partial: nil }
.loading
  .hero-unit
    .header-info Please wait for players to connect to the dealer...
  .hidden= hidden_begin_match_form(@match.id)

  = render partial: ApplicationHelper::FOOTER