:javascript
  ws.onmessage = function(e) {
    switch (e.data) {
    case "#{ApplicationDefs::START_MATCH_REQUEST_CODE}":
    case "#{ApplicationDefs::START_PROXY_REQUEST_CODE}":
      console.log("Starting match");
      $("##{hidden_begin_match}").submit();
      break;
    default:
      // @todo Handle this better
      console.log('Unidentified reply: ' + e.data);
      break;
    };
  };
  var request_to_start_match = "#{escape_javascript(@request_to_start_match.to_json)}";
  if (!isBlank(request_to_start_match)) {
    sendAndLog(ws, request_to_start_match);
  }

= render partial: "layouts/navbar", locals: { partial: nil }
.hero-unit
  .header-info Please wait for players to connect to the dealer...
.hidden= hidden_begin_match_form(@match.id)

= render partial: ApplicationHelper::FOOTER