- case @request_code
- when TableManager::START_MATCH_REQUEST_CODE
  :javascript
    Realtime.startMatch("#{start_dealer_and_players_url}");
- when TableManager::START_PROXY_REQUEST_CODE
  :javascript
    Realtime.startProxy("#{start_proxy_url}");
- when TableManager::EXHIBITION_MATCH_REQUEST_CODE
  :javascript
    console.log("Exhibition match request");
- else
  :javascript
    Realtime.forceUpdateState();

.poker
  = render partial: "layouts/navbar", locals: { partial: nil }
  .loading
    .hero-unit
      .header-info Please wait for players to connect to the dealer...
      .header-info This could take a minute or two...
      .header-info Please do not reload the page.
      %h5 If the table does not appear in ten minutes (after all human players have connected), please log an issue <a href='#{ApplicationHelper::ISSUE_TRACKER}' target='#'>here</a> detailing your exact situation (date and time, system and browser, match setup, and your observations).
    = render partial: MatchStartHelper::FOOTER