:javascript
  Realtime.connect(
    "#{realtime_constants_url}",
    "#{table_manager_constants_url}",
    "#{update_match_queue_url}",
    "#{user}",
    "#{start_exhibition_match_url}",
    "#{match_home_url}"
  );

= render :partial => 'match_start/index'
