%nav.navbar.navbar-default{ role: 'navigation' }
  .container-fluid
    .navbar-header
      .navbar-toggle-tooltip{title: ApplicationHelper::TOGGLE_NAV_TEXT, data: {toggle: 'tooltip'}}
        %button.navbar-toggle.collapsed{type: "button", data: {toggle: "collapse", target: "#navbar-expanded"}}
          %span.sr-only= ApplicationHelper::TOGGLE_NAV_TEXT
          - 3.times do
            %span.icon-bar
      = link_to ApplicationHelper::APP_NAME, root_url, class: ['brand', 'navbar-brand']

    .collapse.navbar-collapse#navbar-expanded
      %ul.nav.navbar-nav.navbar-right
        = render partial: partial if partial
        %li= help_link
        %li.user.sign-in{title: 'Sign-in', data: {toggle: 'tooltip'}}
          - if match_id
            %a= "<span class='glyphicon glyphicon-user'></span> #{h(user.name)}".html_safe
          - else
            %a{class: 'user-sign-in', data: {toggle: 'modal', target: "##{MatchStartHelper::SIGN_IN_ID}"}}= "<span class='glyphicon glyphicon-user'></span> #{h(user.name)}".html_safe
            = render partial: 'layouts/sign_in'
