.navbar
  .navbar-inner
    = link_to ApplicationHelper::APP_NAME, root_url, class: 'brand'
    %ul.nav
      = render partial: partial if partial
      %li= help_link
      %li.user
        - if match_id
          %a= "<i class='icon-user'></i> #{user.name}".html_safe
        - else
          %a{data: {toggle: 'modal', target: "##{MatchStartHelper::SIGN_IN_ID}"}}= "<i class='icon-user'></i> CL #{user.name}".html_safe

          = render partial: 'layouts/sign_in'