:javascript
  // Ensure user name is non-empty
  user_name_input = $('input#user_name');
  user_name_input.keyup(function() {
    current_user_name = user_name_input.val();
    if (current_user_name.length > 0) {
      $('.submit_user_name').attr("disabled", false);
    }
    else {
      $('.submit_user_name').attr("disabled", true);
    }
  });

.modal.fade{ tabindex: '-1', role: "dialog", id: "#{MatchStartHelper::SIGN_IN_ID}", class: "#{MatchStartHelper::SIGN_IN_ID}", aria: { hidden: "true", labelledby: "#{MatchStartHelper::SIGN_IN_ID}" } }
  .modal-dialog
    .modal-content
      .modal-header
        = ApplicationHelper::close_button("modal").html_safe
        %h3.modal-title Sign-in
      .modal-body
        = form_tag sign_in_url, remote: true, class: 'form-horizontal', role: 'form' do
          .form-group
            = label_tag :user_name, "User name", {class: 'control-label col-md-4'}
            .col-md-6
              = text_field_tag :user_name, '', {placeholder: 'Current or new user name', class: 'form-control'}
          .form-group
            = label_tag :password, "Password", {class: 'control-label col-md-4'}
            .col-md-6
              = password_field_tag :password, '', {placeholder: 'Optional password', class: 'form-control'}
          .modal-footer
            .form-group
              .col-sm-offset-4.col-md-6
                = link_to 'Cancel', '#', { class: 'btn cancel', data: { dismiss: "modal" } }
                = submit_tag 'Sign-In', { class: 'btn btn-success submit_user_name', disabled: true }