!!!
%html
   %head
      %title
         -# @todo This doesn't work with the way I use JS to replace #container contents.
         -# yield(:title) if content_for?(:title)
         -#\- AcpcPokerGuiClient
         = AcpcPokerGuiClient
      = stylesheet_link_tag "application"
      = javascript_include_tag "application"
      = csrf_meta_tag
      = yield(:head)
   %body
      .container
         = yield
