!!!
%html
  %head
    %title= ApplicationHelper::APP_NAME
    = stylesheet_link_tag "application", media: 'all'
    = javascript_include_tag :modernizr
    = javascript_include_tag "application"
    = csrf_meta_tag
    = yield(:head)
  %body
    .container
      = yield

:javascript
  var ws = new WebSocket("ws://localhost:#{ApplicationDefs::WEBSOCKET_PORT}/");
  ws.onopen = function() {
    console.log("websocket: onopen");
  };
  ws.onmessage = function(e) {
    console.log("websocket: onmessage: data: " + e.data);
  };
  ws.onclose = function() {
    console.log("websocket: onclose");
  };
  function isBlank(str) {
    return (!str || /^[\"\'\s]*$/.test(str));
  }
  function sendAndLog(wsock, msg) {
    console.log("Sending: " + msg);
    return wsock.send(msg);
  }