!!!
%html
  %head
    %title= ApplicationHelper::APP_NAME
    = stylesheet_link_tag "application", media: 'all'
    = javascript_include_tag :modernizr
    = javascript_include_tag "application"
    = csrf_meta_tag
    = yield(:head)
  %body
    .container
      = yield

:javascript
  // Let the library know where WebSocketMain.swf is:
  // @todo Not sure if this location is correct...
  WEB_SOCKET_SWF_LOCATION = "assets/javascripts/web-socket-js/WebSocketMain.swf";

  // Write your code in the same way as for native WebSocket:
  var ws = new WebSocket("ws://localhost:#{ApplicationDefs::WEBSOCKET_PORT}/");
  ws.onopen = function() {
    console.log("websocket: onopen");
  };
  ws.onmessage = function(e) {
    // Receives a message.
    console.log("websocket: onmessage: data: " + e.data);
  };
  ws.onclose = function() {
    console.log("websocket: onclose");
  };