!!!
%html
  %head
    %title= ApplicationHelper::APP_NAME
    %meta{:content => 'width=device-width', :'initial-scale' => 1.0, :'maximum-scale' => 1.0, :'user-scalable' => 'no', :name => 'viewport'}
    = stylesheet_link_tag "application", media: 'all'
    = javascript_include_tag "https://cdn.socket.io/socket.io-1.2.0.js"
    = javascript_include_tag "application"
    = csrf_meta_tag
    = yield(:head)
    :javascript
      Realtime.connect(
        "#{realtime_constants_url}",
        "#{table_manager_constants_url}",
        "#{update_match_queue_url}",
        "#{root_url}",
        "#{match_home_url}",
        "#{leave_match_url}",
        "#{update_match_url}"
      );
  %body
    .container
      %div{class: ApplicationHelper::APP_VIEW_HTML_CLASS}
        = yield